<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuvoAQkJj6XGsvVzY4XHx10rJCe0L_eaA</string>
	<key>GCM_SENDER_ID</key>
	<string>860004471907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.valowiki</string>
	<key>PROJECT_ID</key>
	<string>valorantflutterwiki</string>
	<key>STORAGE_BUCKET</key>
	<string>valorantflutterwiki.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860004471907:ios:0df88d0be4874a56d05456</string>
</dict>
</plist>